.searchbar-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 20%;
}

#search {
  width: 350px;
  height: 35px;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 15px;
  border: 2px #c9c9c9 solid;
}
