.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container h1 {
  font-size: 3rem;
}

.list-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
